
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# Секреты и данные авторизации
.env
authClient.json
authProvider.json
authState.json
